<div class=" contenedor-general container-fluid">
    <div class="row">
        <div class="contenedor-botones">
            <div class="masopciones"><button class=" btn-masopciones btn btn-primary" routerLink="../detalle-cuenta/miperfil" >Mas Opciones  <i class="fas fa-list"></i></button></div>
            <div class="movimientos"><button class="btn-movimientos btn btn-primary" routerLink= "../detalle-cuenta/movimientos">Movimientos Historicos <i class="fas fa-list"></i></button></div>

        </div>
        <div class="titulo-cuenta col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <p>CA 000001</p>
            <noscript>cuando este la conexion cambiar pvalor a: {{nrocuenta}}</noscript>

        </div>
        <div class=" contenido-cuenta col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row">
                <div class="contenido-saldo col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                    <div class="contenido-saldo-centrado">
                        <p id="texto-saldo">Saldo Disponible</p>
                        <p id="texto-plata">$ 40000</p>
                        <noscript>cuando este la conexion cambiar pvalor a: {{saldo}}</noscript>
                    </div> 
                </div>

                <div class="contenido-datos col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                    <div class="row">
                        <div class="datosprincipales col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="row">
                                <div class="nombre-apellido-dni col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                    <div class="row">
                                        <div class="nombre-apellido col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="row">
                                                <div class="texto-nomape col-6 col-sm-6 col-md-6 col-lg-12 col-xl-12"><p class="ptexto">Nombre y Apellido</p></div>
                                                <div class="valor-nomape col-6 col-sm-6 col-md-6 col-lg-12 col-xl-12"><p class="pvalor">Lucas Vercellone</p></div>
                                                <noscript>cuando este la conexion cambiar pvalor a: {{nombre}}{{apellido}}</noscript>

                                            </div>
                                        </div>

                                        <div class="dni col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="row">
                                                <div class="texto-dni col-6 col-sm-6 col-md-6 col-lg-12 col-xl-12"><p class="ptexto">Dni</p></div>
                                                <div class="valor-dni col-6 col-sm-6 col-md-6 col-lg-12 col-xl-12"><p class="pvalor">40523432</p></div>
                                                <noscript>cuando este la conexion cambiar pvalor a: {{dni}}</noscript>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="cuenta-cvu col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                    <div class="row">
                                        <div class="caja-ahorro col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="row">
                                                <div class="texto-cajaahorro col-6 col-sm-6 col-md-6 col-lg-12 col-xl-12"><p class="ptexto">Email</p></div>
                                                <div class="valor-cajaahorro col-6 col-sm-6 col-md-6 col-lg-12 col-xl-12"><p class="pvalor" > {{email}} </p></div>
                                            </div>
                                        </div>

                                        <div class="cvu col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="row">
                                                <div class="texto-cvu col-6 col-sm-6 col-md-6 col-lg-12 col-xl-12"><p class="ptexto">Nro CVU</p></div>
                                                <div class="valor-cvu col-6 col-sm-6 col-md-6 col-lg-12 col-xl-12"><p class="pvalor">002564224452210 </p></div>
                                                <noscript>cuando este la conexion cambiar pvalor a: {{cvu}}</noscript>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="datossecundarios col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="row">
                                <div class="producto-alias col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                    <div class="row">
                                        <div class="producto col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="row">
                                                <div class="texto-producto col-6 col-sm-6 col-md-6 col-lg-12 col-xl-12"><p class="ptexto">Producto</p></div>
                                                <div class="valor-producto col-6 col-sm-6 col-md-6 col-lg-12 col-xl-12"><p class="pvalor">Caja de ahorro</p></div>
                                            </div>
                                        </div>

                                        <div class="alias col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="row">
                                                <div class="texto-alias col-6 col-sm-6 col-md-6 col-lg-12 col-xl-12"><p class="ptexto">Alias</p></div>
                                                <div class="valor-alias col-6 col-sm-6 col-md-6 col-lg-12 col-xl-12"><p class="pvalor">Lucas.banco.clip</p></div>
                                                <noscript>cuando este la conexion cambiar pvalor a: {{alias}}</noscript>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="estado-participacion col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                    <div class="row">
                                        <div class="estado col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="row">
                                                <div class="texto-estado col-6 col-sm-6 col-md-6 col-lg-12 col-xl-12"><p class="ptexto">Estado</p></div>
                                                <div class="valor-estado col-6 col-sm-6 col-md-6 col-lg-12 col-xl-12"><p class="pvalor">Cuenta Inactiva </p></div>
                                                <noscript>cuando este la conexion cambiar pvalor a: {{estado}}</noscript>

                                            </div>
                                        </div>

                                        <div class="participacion col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <div class="row">
                                                <div class="texto-participacion col-6 col-sm-6 col-md-6 col-lg-12 col-xl-12"><p class="ptexto">Participacion</p></div>
                                                <div class="valor-participacion col-6 col-sm-6 col-md-6 col-lg-12 col-xl-12"><p class="pvalor">Titular de la cuenta</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
