<body>
    <div class="hola">
        <h1>Mi Perfil</h1>
        <h2>Datos Personales</h2>

        <section id="Miseccion">
            <table>
                <tr>
                    <td class="nombre1">
                        <p>Nombres </p>
                    </td>
                    <td>
                        <p> <input type="text" id="cdtexto" value="Lucas" disabled="disabled"> </p>
                        <noscript>cambiar en value = {{nombre}}</noscript>
                    </td>
                </tr>

                <tr>
                    <td class="nombre1">
                        <p>Apellido </p>
                    </td>
                    <td>
                        <p> <input type="text" id="cdtexto" value=Vercellone disabled="disabled"> </p>
                        <noscript>cambiar en value = {{apellido}}</noscript>

                    </td>
                </tr>

                <tr>
                    <td class="nombre1">
                        <p>DNI</p>
                    </td>
                    <td>
                        <p> <input type="text" id="cdtexto" value=40523432 disabled="disabled"> </p>
                        <noscript>cambiar en value = {{dni}}</noscript>

                    </td>
                </tr>

                <tr>
                    <td class="nombre1">
                        <p>Localidad</p>
                    </td>
                    <td>
                        <p> <input type="text" id="cdtexto" value={{localidad}} disabled="disabled"> </p>
                    </td>
                    <input type="button" value="Editar" onclick="" class='Boton_Editar' />
                </tr>

                <tr>
                    <td class="nombre1">
                        <p>Dirección</p>
                    </td>
                    <td>
                        <p> <input type="text" id="cdtexto" value={{direccion}} disabled="disabled"> </p>
                    </td>
                    <input type="button" value="Editar" onclick="" class='Boton_Editar' />
                </tr>

                <tr>
                    <td class="nombre1">
                        <p>E-mail</p>
                    </td>
                    <td>
                        <p> <input type="text" id="cdtexto" value={{email}} disabled="disabled"> </p>
                    </td>
                    <input type="button" value="Editar" onclick="" class='Boton_Editar' />
                </tr>

                <tr>
                    <td class="nombre1">
                        <p>Celular</p>
                    </td>
                    <td>
                        <p> <input type="text" id="cdtexto" value={{ncelular}} disabled="disabled"> </p>
                    </td>
                    <input type="button" value="Editar" onclick="" class='Boton_Editar' />
                </tr>

            </table>



        </section>


    </div>
    <!--
    <div>
        <input type='button' value='Aceptar' onclick="" class="Boton_Aceptar" id='aceptar'>
        <input type="button" value="Cancelar" onclick="" class='Boton_Cancelar' />


    </div>
    <div>
        <input type='button' value='Aceptar' onclick="" class="Boton_Aceptar" id='aceptar'>
        <input type="button" value="Cancelar" onclick="" class='Boton_Cancelar' />


    </div>
    <div>
        <input type='button' value='Aceptar' onclick="" class="Boton_Aceptar" id='aceptar'>
        <input type="button" value="Cancelar" onclick="" class='Boton_Cancelar' />


    </div>
    <div>
        <input type='button' value='Aceptar' onclick="" class="Boton_Aceptar" id='aceptar'>
        <input type="button" value="Cancelar" onclick="" class='Boton_Cancelar' />


    </div>
-->

</body>