<body  >
    <button (click) = "onDataMenu()">
        PruebaConexion
    </button>
    <form class="form-box animated fadeInUp" style="width: 500px; height: auto;">
        <h1 class="form-title">Inciar Sesion</h1>
        <input type="text" placeholder="Usuario" autofocus>
        <input type="password" placeholder="Clave">
        <button type="submit">
            Login
        </button>
        <a type="submit" routerLink="/register">Registrate</a>
        <br>
        <a routerLink="/recuperacionPss">Olvidaste tu clave?</a>
    </form>
</body>
