<body>

    <div>
        <h2>Nueva transferencia</h2>
        <form action="c1">

            <p>
                Cuenta origen:
                <select name="cuentaorigen">
                    <option></option>
                    <option>Caja de ahorro $</option>
                    <option>Caja de ahorro U$S</option>
                </select>
            </p>

            <p>
                Destino:
                <br>
                <button class="botoncuentas">Cuenta Vinculada</button>
                <a class="botoncuentas" href="NuevoDestinatario.html" button> Nueva Cuenta</a>
            </p>

            <label for="number">Monto en $:</label>
            <input type="number" id="number" name="number" required><br><br>

            <p>
                Concepto:
                <select name="Concept">
                    <option></option>
                    <option>Alquileres</option>
                    <option>Cuota</option>
                    <option>Expensas</option>
                    <option>Factura</option>
                    <option>Préstamo</option>
                    <option>Seguro</option>
                    <option>Honorarios</option>
                    <option>Haberes</option>
                    <option>Varios</option>
                    <option>Operaciones Inmobiliarias</option>
                    <option>Operaciones Inmobiliarias Habitualistas</option>
                    <option>Bienes Registrables No Habitualistas</option>
                    <option>Suscripción Obligaciones Negociables</option>
                    <option>Aportes de Capital</option>

                </select>
            </p>

            <label for="Ref">Referencia:</label>
            <input type="text" id="fname" name="Ref" placeholder="Opcional"><br><br>

            <button class="BotonEnviar">Enviar</button>
        </form>

    </div>
</body>