<body>
    <form action="Login.html" class="form-box animated fadeInUp" style="width: 500px; height: auto;">
        <h1 class="form-title">Ingresa tus datos</h1>
        <input id="usuario" required type="text" placeholder="Username" autofocus>
        <input id="Email" required type="email" placeholder="Email" autofocus>
        <input id="pass1" required type="password" placeholder="Contrasena">
        <input id="pass2" required type="password" placeholder="Repite tu contrasena">
        <button type="submit" routerLink="/login">
            Registrarse
        </button>
        <a type="submit" routerLink="/login">Volver</a>
    </form>
</body>